
<div class="container mt-5 fw-bold" style="text-align:center; color:black">

    <img src="~/images/errors/error404image.jpeg" />

    <h1 style="font-size:150px; margin-bottom:10px">404</h1>

    <p style="font-size:50px;">Sayfa Bulunamadı.</p>
    <p style="font-size:150%;">Sanırım kayboldun.</p>
    <p> Anasayfaya gitmek için <a asp-controller="home" asp-action="index">BURAYA</a>  tıklayabilirsin.</p>
</div>